@page
@model WebApp.Pages.Tareas.AddForm.IndexModel
@{
    //Layout = null; // No usar layout
    Layout = "_ModalLayout"; // Usar el layout parcial
}

@* <h2>Agregar Tarea</h2> *@
<div class="container mt-1 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="formulario" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label for="Titulo" class="form-label">Título</label>
                    <input asp-for="Tarea.Titulo" type="text" id="Titulo" class="form-control" placeholder="Título">
                    <span asp-validation-for="Tarea.Titulo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Descripcion" class="form-label">Descripción</label>
                    <input type="text" id="Descripcion" class="form-control" placeholder="Descripción"
                           name="Tarea.Descripcion">
                </div>
                <div class="mb-3">
                    <label for="FechaVencimiento" class="form-label">Fecha Vencimiento</label>
                    <input type="date" id="FechaVencimiento" class="form-control" name="Tarea.FechaVencimiento">
                </div>
                <div id="resultado">
                </div>
            </form>
@*             <button type="button" onclick="submitForm(event)" class="btn btn-success">Crear</button>
            <a href="/Tareas/Index" class="btn btn-danger" role="button">Cancelar</a> *@
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        // En tiempo real quita la clase is-invalid cuando un input sea valido
        $("#formulario").on("input", "input", function () {
            if (!$(this).valid()) {
                $(this).addClass("is-invalid")
            } else {
                $(this).removeClass("is-invalid");
            }
        });

    </script>
}